body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: background-color 0.5s ease;
}

header {
  background-color: #660027;
  color: white;
  padding: 15px;
}

h1 {
  color: #c67d00;
  margin-top: 20px;
}

p {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}

.color-box {
  width: 70%;
  max-width: 500px;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  background-color: #660027;
  border: 2px solid #190f0f;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #0e3c00;
  transform: scale(1.05);
  border: 2px solid #00ff08;
}