* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #d9dee3, #bbd1e0);
}

header {
  text-align: center;
  background: #001b38;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.user-card {
  background: #eae5e5;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.user-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px #007bff33;
}

.user-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #001b38;
  object-fit: cover;
  transition: transform 0.3s ease, border-color 0.3s;
}

.user-card:hover img {
  transform: scale(1.05);
  border-color: #0056b3;
}

.user-card h1 {
  font-size: 1.6em;
  margin: 10px 0 5px;
  color: #222;
}

.user-card p {
  font-size: 0.9rem;
  color: #2c2c2c;
  margin: 5px 0;
}

.user-card:hover {

  h1,
  p {
    color: #ffffff;
  }
}

.user-card .data {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0px 20px;
}

.user-card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #656c74, #0228a6, #001b38);
  background-size: 400%;
  border-radius: 16px;
  z-index: -1;
  animation: borderAnim 6s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.user-card:hover::before {
  opacity: 1;
  color: #d9e4ec;
}

@keyframes borderAnim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer {
  background-color: #001b38;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  .user-card {
    padding: 15px;
  }

  .user-card h1 {
    font-size: 1rem;
  }

  .user-card img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .user-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  header {
    padding: 15px 10px;
  }

  footer {
    padding: 10px;
  }
}