/* CSS Body */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f5;
  text-align: center;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

.data {
  padding: 20px;
}

.data .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.data .cards .card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  width: 400px;
}

.data .cards .card img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000033;
}

.data p {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #003366;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

/*  Responsive Design  */

/* screen width 768px or less then 768px */

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  .data p {
    font-size: 16px;
    width: 90%;
  }

  .data .cards .card img {
    max-width: 500px;
  }
}

/* Mobile (screen width 480px or less then 480px */

@media (max-width: 480px) {
  h1 {
    font-size: 1.3rem;
  }

  header,
  footer {
    padding: 10px;
  }

  .data p {
    font-size: 14px;
    width: 95%;
  }

  .data .cards .card img {
    max-width: 100%;
  }
}